<head>
  <link rel="stylesheet" href="/css/landing.css">
  <link rel="stylesheet" href="/css/home_page.css">
  <link rel="stylesheet" href="/css/user_profile.css">
  <link rel="stylesheet" href="/css/friends.css">
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js">

  </script>

  <!-- <script type="text/javascript" src="/socket.io/socket.io.js">

  </script> -->
  <title>ConnectAesthetic</title>
</head>
