<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <%%include partials/header>
  <body class="landing_body">
    <h1 id="landing_header">Connect</h1>
    <div id="sign_up_div">
      <form id="sign_up_form" action="index.html" method="post">
        <h2>Sign Up &nbsp</h2>
        <input type="text" id="name "name="name" placeholder="Name">

      </form>
    </div>
  </body>
</html>
